@import "tailwindcss" source(none);
@source "../css";
@source "../js";
@source "../../lib/volt_web";

@theme {
  --color-seashell: oklch(0.9808 0.0159 82.79);
  --color-platinum: oklch(0.9093 0.0097 320.55);
  --color-light_red: oklch(0.6575 0.1566 21.88);
  --color-beige: oklch(0.8683 0.0134 82.4);
  --font-title: Plus Jakarta Sans;
  --font-body: Plus Jakarta Sans;
}

/* This file is for your main application CSS */

#my-collection::-webkit-scrollbar {
  background-color: initial;
  width: 0.50rem;
  height: 0.50rem;
}

#my-collection::-webkit-scrollbar-thumb {
  background-color: #E4DFE5;
  border-radius: 0.25rem;
}

#my-collection::-webkit-scrollbar-track {
  background-color: #FEF8ED;
  border-radius: 0.25rem;
}